@use "color";
@use "font";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: font.$font-sans;
}

.nav-container {
    background-color: color.$white;
    border: 1px solid black;
    height: 80px;

    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 20px auto;

        ul {
            width: 400px;
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            color: color.$gray;

            li {
                cursor: pointer;
                transition: 0.3s;
            }

            li:hover {
                color: color.$dark-blue;
                border-bottom-style: inset;
                border-bottom-color: color.$light-green;
                border-bottom-width: 2px;
            }
        }

        button {
            width: 140px;
            height: 45px;
            border-radius: 30px;
            background-image: linear-gradient(to right, hsl(136, 74%, 64%),hsl(192, 80%, 64%));
            border: none;
            color: color.$white;
            font-weight: 700;
            transition: 0.2s;
        }

        button:hover{
            box-shadow: 0 0 10px 2px rgb(224, 223, 223);
            background-image: linear-gradient(to right, color.$light-green , color.$blue);
        }
    }
}